@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.body {
    background:#333232;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: #1D1109;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0px 1px 15px #333232;
    
}

.main {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 0;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
}
.mainInner{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
}

.logos{
  width: 10%;
  height: 100%;
  background-color: #1D1109;
  max-width: 10%;
}

img{
  width: 100%;
  max-width: 100%;
}

::-webkit-scrollbar {
    width: 6px;
    
} 
::-webkit-scrollbar-track {
    background-color: white;
} 
::-webkit-scrollbar-thumb {
    background-color: #EEA071;
    border-radius: 5px;
}

table{
  width:100%;
  height: 100%;
  table-layout: fixed;
  overflow: auto;
}
.tbl-header{
    background: #F19B70;
    overflow: auto;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,0.2), 0 2px 20px 0 rgba(0,0,0,0.19);
    position: relative;
    border-radius: 4px;
 }

.tbl-body{
  background: #F19B70;
  overflow: auto;
  background-color: white;
  height: 350px;
  border-bottom: solid 1px #F19B70;
  z-index: 0;
}

th{
  padding: 20px 15px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: black;
  border-bottom: solid 1px rgba(255, 154, 2, 0.1);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input{
    padding-left: 1%;
}

.btn-edit{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
  border-radius: 5px;
}

.btn-delete{
  background-color: rgb(240, 98, 98);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
  border-radius: 5px;
}

.btn-add{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 13%;
  margin-left: 3%;
  border-radius: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');

h2 {
    font-family: 'Damion', cursive;
    font-weight: 400;
    color: #4caf50;
    font-size: 35px;
    text-align: center;
    position: relative;
}
h2:before {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    top: 22px;
    background: #4caf50;
    height: 1px;
}
h2 i {
    font-style: normal;
    background: #fff;
    position: relative;
    padding: 10px;
}

:focus{outline: none;}

/* necessary to give position: relative to parent. */
input{font: 15px/24px 'Muli', sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

:focus{outline: none;}

.col-3{float: left; width:100%; margin: 1%; position: relative;} /* necessary to give position: relative to parent. */
input{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.effect-1, 
.effect-2, 
.effect-3{border: 0; padding: 7px; border-bottom: 1px solid #ccc;}


.effect-2 ~ .focus-border{position: absolute; bottom: 0; left: 40%; width: 0; height: 2px; background-color: #F19B70; transition: 0.4s;}
.effect-2:focus ~ .focus-border{width: 100%; transition: 0.4s; left: 15px;}

